@import "sign";
@import "dashboard";


#app {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;

  //这是给icon component 用的
  //&__icon-fix__menu-right {
  //  margin-top: 5px;
  //  margin-left: 10px;
  //}
}
